:host .mat-icon{
    vertical-align: middle;
    margin-right: 20px;
}

:host .profile-card{
    text-align: center;
    padding: 0 20px 20px 20px;
}

:host .profile-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

