<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Oumarooto Keitaki</h2>
            <h4>keimar.ok@gmail.com</h4>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Oumarooto Keitaki">
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLink="/" routerLinkActive="active">Dashboard</a>
    <a mat-list-item routerLink="/posts" routerLinkActive="active">Posts</a>
    <a mat-list-item routerLink="/charts" routerLinkActive="active">HighCharts</a>
    <a mat-list-item routerLink="/articles" routerLinkActive="active">Article</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLink="/contacts" routerLinkActive="active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLink="/contacts" routerLinkActive="active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>