<div>
    <app-widget-area></app-widget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap fxLayoutGap="20px" class="stats-cards">
    <!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between center"> -->
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card></app-widget-card>
    </mat-card>
</div>

<mat-divider></mat-divider>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>